
body {
    background-image: url('/Resources/Images/railroad-tracks-163518_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    background-color: #342e16;
}
