@model VyBillettBestilling.Models.IndexViewModel
@{
    ViewBag.Title = "Administrasjon";
}

<link href="~/Content/Admin.css" rel="stylesheet">
<div class="bg femti ">
    <h2>Administrasjon</h2>

    <h4></h4>
    <hr />
    <dl class="dl-horizontal row">
        <dt>Passord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {

                @Html.ActionLink("Skift Passord", "ChangePassword")
            }
            else
            {
                <p class="text-danger">Noe er galt, og vi kan ikke finne passordet ditt i databasen.</p>
            }
            ]
        </dd>
        <dt>Adm.Strekninger:</dt>
        <dd>
            [
            @Html.ActionLink("Strekninger", "StrekningsListe")
            ]
        </dd>
        <dt>Adm.Stasjoner:</dt>
        <dd>
            [
            @Html.ActionLink("Stasjoner", "StasjonsListe")
            ]
        </dd>
        <dt>Adm.Strekningsnett:</dt>
        <dd>
            [
            @Html.ActionLink("Banenett", "NettListe")
            ]
        </dd>
    </dl>
</div>
