@Model Models.Bestilling;

<head>
    @{
        ViewBag.Title = "Velkommen til VY";
    }
    @section Styles
        {
        <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    }
</head>
<body>


    <div class="bg container-fluid femti">
        <div class="panel-heading header" align="center">
            <h2>Hvor vil du reise?</h2>
        </div>
        <div class="form-group has-search" align="center">
            <div class="input-icons">
                <i class="fa fa-search icon"></i>
                <select class="reiseFra input-field" placeholder="Reise Fra" data-icon="fa fa-search" name="reiseFra">
                    <option></option>
                    <option value="oslo">Oslo</option>
                    <option value="bergen">Bergen</option>
                    <option value="kristiansand">Kristiansand</option>
                </select>
                <i class="fa fa-search icon"></i>

                <select class="reiseTil input-field" placeholder="Reise Fra" name="reiseTil">
                    <option></option>
                    <option value="oslo">Oslo</option>
                    <option value="bergen">Bergen</option>
                    <option value="kristiansand">Kristiansand</option>
                </select>
            </div>
        </div>
        <div class="qty mt-5">
            <span class="minus bg-dark">-</span>
            <input type="number" class="count" name="qty" value="1">
            <span class="plus bg-dark">+</span>
        </div>

    </div>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Pages/Index.js")'></script>
</body>
