@model VyBillettBestilling.Model.Bestilling
<head>
    @{
        ViewBag.Title = "Velkommen til VY";
    }
    @section Styles
        {
        <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
        <link rel="stylesheet" type="text/css" href="~/Scripts/Plugins/datetimepicker/jquery.datetimepicker.min.css">
    }

</head>

<body>
    <form method="post" action="~/Home/Bestilling">
        <div class="bg container femti">
            <div class="container">
            <div class="panel-heading header" align="left">
                <h2 class="">Hvor vil du reise?</h2>
            </div>

            <div class="form-group" align="left">
                @Html.DropDownList("ReiseFra", (IEnumerable<SelectListItem>)ViewBag.Stasjoner, "", new { @class = "reiseFra input-field form-control", @name = "ReiseFra", @onchange = "skifte()" })
                <br />
                <select class="reiseTil input-field form-control" placeholder="Reise Til" id="ReiseTil" name="ReiseTil">
                    <option></option>
                </select>
            </div>

            <div class="d-flex flex-row form-group" style="max-width:150px;" align="left" id="seleksjonsBoks">
                <p class="font-weight-bold text-color-white">Voksen:</p>
                <input type="number" class="form-control" value="1" id="voksen" name="AntallVoksne">

                <p class="font-weight-bold text-color-white">Barn:</p>
                <input type="number" class="form-control" value="0" id="barn" name="AntallBarn">

                <p class="font-weight-bold text-color-white">Student:</p>
                <input type="number" class="form-control" value="0" id="student" name="AntallStudent">
                <br />

                <p class="font-weight-bold text-color-white">Honnør:</p>
                <input type="number" class="form-control" value="0" id="honnor" name="AntallHonnor">
                <br />

                <p class="font-weight-bold text-color-white">Tidspunkt:</p>
                <div class="trigger">
                    <input readonly="readonly" type="text" id="date" name="StartTid" />
                </div>
                <br />
                <div class="form-group">
                    <div class="font-weight-bold text-color-white">
                        <input type="submit" value="Sjekk tilgjengelighet og bestill" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
</div>
    </form>

    <script src="~/Scripts/touchspin.js"></script>
    <script src="~/Scripts/Plugins/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Pages/Index.js")'></script>
</body>


